@using AspNetMvcSubResourceIntegrityHelper
@{
	ViewBag.Title = "Home Page";
}
<div>
	<button class="btn btn-success"><i class="fa fa-plus"></i></button>
</div>
@section scripts
{
	@Html.SRIScriptLink("/Scripts/bootstrap.js")

	@*there is more in _Layout.cshtml*@
}
